.md-button.md-default-theme.md-hue-1.md-accent.md-raised, .md-button.md-hue-1.md-accent.md-raised, .md-button.md-default-theme.md-hue-1.md-accent.md-fab, .md-button.md-hue-1.md-accent.md-fab
{
    background-color: rgb(16, 108, 200);
}

.md-button.md-default-theme.md-hue-1.md-accent.md-raised:not([disabled]):hover, .md-button.md-hue-1.md-accent.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-hue-1.md-accent.md-fab:not([disabled]):hover, .md-button.md-hue-1.md-accent.md-fab:not([disabled]):hover
{
    background-color: rgb(16, 108, 200);
}
.backgroundStart
{

}
.prolo
{

    display: block;
    margin: auto;
    width: 40%;

}
.center {
    margin: auto;
    width: 25%;

    padding: 10px;
}
.forwardCounetr {
    display: block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    float: right;
    -moz-border-radius: 13px; /* or 50% */
    border-radius: 13px; /* or 50% */

    background-color: green;
    color: white;
    text-align: center;
    font-size: 0.8em;
}
.forwardCont
{
    margin-right: 10px;
}

.finedCounetr {
    display: block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    float: left;
    -moz-border-radius: 13px; /* or 50% */
    border-radius: 13px; /* or 50% */

    background-color: goldenrod;
    color: white;
    text-align: center;
    font-size: 0.8em;
}
*{
	margin:0;
	padding:0;
}
html,body{
	min-heigth:100vh;
}
body{
	background:url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.logo{
	padding: 10% 0 0;
	margin: 0 auto;
	display: table;
	cursor: pointer;
}
.start{
	padding: 50px 0 0;
	margin: 0 auto;
	display: table;
	
	cursor: pointer;
}
.start img{
	opacity: 0.8;
}
.start img:hover{
	opacity: 1;
}